/* Layouting */

.container-fluid{
    /* background-color: aquamarine; */
    height: 100vh;
}

.view-desktop{
    height: 100%;
    /* background-color: chartreuse; */
}

.nav-desktop{
    width: 100%;
}

.row-main{
    height: 80%;
    /* background-color: chocolate; */
}

.row-bottom{
    height: 20%;
    /* background-color: cornsilk; */
}

.left-main{
    height: 100%;
    /* background-color: blueviolet; */
    padding: 10% 100px 100px 100px;
}

.right-main{
    height: 100%;
    padding-top: 80px;
    background-color: rgb(196, 157, 233);
}

.left-other{
    height: 100%;
    background-color: rgb(12, 133, 28);
}

.mid-other{
    height: 100%;
    background-color: rgb(98, 167, 107);

}
.right-other{
    height: 100%;
    background-color: rgb(60, 70, 61);
}

/* Nav style */

/* Nav layout */

.nav-full-fixed{
    height: 70px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}


.nav-title{
    margin-left: 10px;
    margin-top: 7px;
    padding: 0;
    /* background-color: chartreuse; */
}

.nav-logo-img{
    height: 60px;
    width: 60px;
    padding: 0;
    margin-top: -2px;
    /* background-color: aquamarine; */
}

.title-h1-thick{
    font-size: 22px;
    font-weight: 700;
    padding: 0;
}

.title-h1-thin{
    font-size: 12px;
    font-weight: 700;
    margin-top: -10px;
    padding: 0;
}

.nav-li-heading{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/* left div */